.box-error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 15px 30px 15px;
    background: #FFFFFF;
    text-align: center;
    width:100%;
    box-shadow: 0 4px 24px 0 rgba(45, 93, 188, 0.19);
}

img.error-icon{
    width : 100px;
    margin: auto;
}

a.back-to-home-btn{
    background: var(--color-3);
    color: white;
    padding: 10px;
    width: 180px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    transition: all ease-in-out;
}

a.back-to-home-btn:hover {
    opacity: 0.9;
}

.section p.box-error-title{
    font-family: OpenSansHebrew-Bold;
    color :red;
    font-size: 22px;
}

.section p.box-error-info{
    font-family: OpenSansHebrew-Regular;
    color :red;
    font-size: 20px;
    line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
    .section p.box-error-info{
        font-size: 16px;
    }
    
}