/* List Tags Items */

li.tag-item {
    background: #FFFFFF;
    border: 1px solid #123985;
    border-radius: 20px;
    padding: 5px;
  }

  li.tag-item h2 a,
  li.tag-item h2 a:active,
  li.tag-item h2 a:focus,
  li.tag-item h2 a:hover
  {
    font-family: OpenSansHebrew-Regular;
    font-size: 16px;
    color: #123985;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none;
    padding: 5px;
  }

  .tags-items ul {
    display: flex;
    justify-content: flex-start;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    padding-inline-start: 0;
  }

/* List Tags Items */