/* Video Carousel */

.video-carousel-wrapper {
	width: 80%;
	margin: auto;
}

#video-carousel .owl-next,
#video-carousel .owl-prev {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	color: #fff;
	box-shadow: 0 4px 24px 0 rgba(45, 93, 188, 0.19);
	min-width: auto;
	background: #ffffff;
}

#video-carousel .owl-nav {
	display: flex;
	height: 52px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	z-index: -1;
}

#video-carousel .owl-prev {
	margin-right: -65px;
}

#video-carousel .owl-prev img {
	transform: rotate(-180deg);
}

#video-carousel .owl-next {
	margin-left: -65px;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	background: #FFFFFF;
	border: 1px solid rgba(6, 28, 63, 0.01);
}

#video-carousel.owl-carousel .owl-item img.arrow-left-icon {
	width: 14px;
	height: 14px;
}

#video-carousel .item {
	cursor: pointer;
}

#video-carousel .news-main-img {
	width: 100%;
	height: 117px;
	object-fit: cover;
	border-radius: 4px 4px 0 0;
}

#video-carousel a.videoLink::after {
	content: "";
	display: block;
	width: 25px;
	height: 24px;
	background: url(../icons/videoIcon.svg);
	position: absolute;
	top: 80px;
	left: 12px;
	background-size: cover;
}

#video-carousel a.videoLink {
	color: #123985;
	font-size: 18px;
	font-weight: bold;
	background: white;
	box-shadow: 0 4px 24px 0 rgba(45, 93, 188, 0.19);
	margin: 0px 10px 30px 10px;
	border-radius: 0 0 4px 4px;
	display: block;
	padding: 0 0 15px;
	border: 4px solid transparent;
	border-radius: 10px;
	position: relative;
}

#video-carousel a.videoLink:hover {
	border-color: var(--color-3);
}

#video-carousel a.videoLink span {
	display: block;
	padding: 12px;
	line-height: 140%;
	height: 66px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

#youtubePlayer {
	margin: 0px auto 0;
	width: calc(80% - 35px);
	border: 20px solid #fff;
	box-shadow: 0 4px 24px 0 rgba(45, 93, 188, 0.19);
	border-radius: 4px;
}

.display-table > #youtubePlayer{
	margin-bottom: 20px;
}

@media only screen and (max-width:1024px) {

	#video-carousel a.videoLink::after {
		width: 55px;
		height: 52px;
		top: 35px;
		left: 50%;
		transform: translateX(-50%);
	}

	#video-carousel .owl-nav {
		justify-content: center;
		top: calc(100% + 30px);
		gap: 10px;
	}

	#youtubePlayer {
		height: 320px;
	}

	#youtubePlayer,
	.video-carousel-wrapper {
		width: 95%;
	}

	#video-carousel a.videoLink {
		margin: 0px 10px 20px;
	}
}

/* Video Carousel */