/* Beit Rivka Color Pallate */

:root {
	--color-1: #2a6ca4;
	--color-2: #014471;
	--color-3: #007d0f;
	--color-4: #f4f8da;
	--color-5: #2a6ca4;
	--color-6: #014471;
	--color-7: #9AA832;

	--black: #000000;
	--white: #FFFFFF;
}

/* Beit Rivka Color Pallate */