/* Bellinson Color Pallate */

:root {
	--color-1: #027436;
	--color-2: #005929;
	--color-3: #ec6408;
	--color-4: #d7e5bf;
	--color-5: #027436;
	--color-6: #005929;
	--color-7: #28A850;

	--black: #000000;
	--white: #FFFFFF;
}

/* Bellinson Color Pallate */