/* Carmel Color Pallate */

:root {
	--color-1: #1f75a9;
	--color-2: #0056B9;
	--color-3: #3c7cd4;
	--color-4: #d7e4f4;
	--color-5: #1f75a9;
	--color-6: #0056B9;
	--color-7: #0156B9;

	--black: #000000;
	--white: #FFFFFF;
}

/* Carmel Color Pallate */