/* Clalit Color Pallate */

:root {
	--color-1: #05454f;
	--color-2: #00667d;
	--color-3: #17a1ba;
	--color-4: #29d1de;
	--color-5: #39aa48;
	--color-6: #123985;
	--color-7: #123985	;

	--black: #000000;
	--white: #FFFFFF;
}

/* Clalit Color Pallate */