/* Geha Color Pallate */

:root {
	--color-1: #0a7c94	;
	--color-2: #07689d	;
	--color-3: #0f9b6f	;
	--color-4: #bfe7f8	;
	--color-5: #0a7c94	;
	--color-6: #07689d	;
	--color-7: #01A0E3	;

	--black: #000000;
	--white: #FFFFFF;
}

/* Geha Color Pallate */