/* Haemek Color Pallate */

:root {
	--color-1: #006125	;
	--color-2: #0e5cac;
	--color-3: #788c0b;
	--color-4: #dde2c2	;
	--color-5: #006125	;
	--color-6: #0e5cac	;
	--color-7: #94B532	;

	--black: #000000;
	--white: #FFFFFF;
}

/* Haemek Color Pallate */