/* Kaplan Color Pallate */

:root {
	--color-1: #0071bb;
	--color-2: #035e2c;
	--color-3: #077e7a;
	--color-4: #bfdfde;
	--color-5: #0071bb;
	--color-6: #035e2c;
	--color-7: #049F96;

	--black: #000000;
	--white: #FFFFFF;
}

/* Kaplan Color Pallate */