/* Levinshtein Color Pallate */

:root {
	--color-1: #2e4596;
	--color-2: #27296d;
	--color-3: #2087ba;
	--color-4: #e8ebf4;
	--color-5: #2e4596;
	--color-6: #27296d;
	--color-7: #2E4595;

	--black: #000000;
	--white: #FFFFFF;
}

/* Levinshtein Color Pallate */