/* Meir Color Pallate */

:root {
	--color-1: #225282;
	--color-2: #1a3e62;
	--color-3: #C1AB34;
	--color-4: #dee5ec;
	--color-5: #225282;
	--color-6: #1a3e62;
	--color-7: #225282;

	--black: #000000;
	--white: #FFFFFF;
}

/* Meir Color Pallate */