/* Shalvata Color Pallate */

:root {
	--color-1: #7f69bc;
	--color-2: #3e66a3;
	--color-3: #1f9d78;
	--color-4: #e0d9f0;
	--color-5: #7f69bc;
	--color-6: #3e66a3;
	--color-7: #79A5D9	;

	--black: #000000;
	--white: #FFFFFF;
}

/* Shalvata Color Pallate */