/* Soroka Color Pallate */

:root {
	--color-1: #08802b;
	--color-2: #0d5aa1;
	--color-3: #0a7c94;
	--color-4: #bfdfe5;
	--color-5: #08802b;
	--color-6: #0d5aa1;
	--color-7: #0B84C7	;

	--black: #000000;
	--white: #FFFFFF;
}

/* Soroka Color Pallate */