/* Yoseftal Color Pallate */

:root {
	--color-1: #0f5cac;
	--color-2: #05521f;
	--color-3: #e68324;
	--color-4: #ccece1;
	--color-5: #0f5cac;
	--color-6: #05521f;
	--color-7: #116CCC;

	--black: #000000;
	--white: #FFFFFF;
}

/* Yoseftal Color Pallate */