.page404-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.page404-main-wrapper .main-column-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.page404-main-wrapper h1 {
    font-family: OpenSansHebrew-Bold;
    font-size: 72px;
    color: #123985;
    line-height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column
}

.page404-main-wrapper h2 {
    font-family: OpenSansHebrew-Regular;
    font-size: 45px;
    color: #061C3F;
    text-align: center;
    line-height: 47px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.page404-main-wrapper h3 {
    font-family: OpenSansHebrew-Bold;
    font-size: 30px;
    color: #061C3F;
    text-align: center;
    line-height: 36px;
}

.page404-main-wrapper img.main-img {
    height: 550px;
    object-fit: contain;
    width: 343px;
}

.page404-main-wrapper .main-sections {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 80px 0 0 0;
}

.page404-main-wrapper .main-text-section{
    display: flex;
    flex-direction: column;
    gap:25px;
}

.page404-main-wrapper .main-text-section:last-child {
    gap:32px;
}

.page404-main-wrapper .cta-items-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.page404-main-wrapper .hospital-page-cta {
    align-items: center;
    background: white;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.20);
    padding: 15px 0 15px 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-family: OpenSansHebrew-Regular;
    font-size: 18px;
    color: #123985;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
    border: 1px solid #123985;
    width: 230px;
    text-align: center;
}

.page404-main-wrapper .back-page-cta{
    align-items: center;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.20);
    color: white;
    font-size: 18px;
    padding: 15px 0 15px 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background: #123985;
    width: 230px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.page404-main-wrapper .back-page-cta:hover {
    background: #123985eb;
    color: white;
    filter: brightness(1.1);
}

.page404-main-wrapper .logo-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    padding: 0 0 50px 0;
}

.page404-main-wrapper .logos-list li:first-child::after{
    content: '';
    width: 1px;
    height: 40px;
    background: #D9D9D9;
    position: absolute;
    margin: auto;
    top: 15px;
}

.page404-main-wrapper .logos-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    min-height: 50px;
    object-fit: contain;
    position: relative;
}

.page404-main-wrapper img.clalit-logo{
    width: 130px;
    object-fit: contain;
    margin: 0 8px 0 0;
}


.page404-main-wrapper img.hospital-logo{
    width: 180px;
    object-fit: contain;
    margin: 0 0 0 25px;
}

@media only screen and (max-width: 1024px) {

    .page404-main-wrapper .main-column-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .page404-main-wrapper .main-sections{
        padding: 0 0 0 0;
        gap: 20px;
    }

    .page-404-inner-wrapper{
        position: inherit;
        transform: none;
    }

    .page404-container{
        height: auto;
    }

    .page404-main-wrapper img.hospital-logo{
        width: 100px;
    }

    .page404-main-wrapper img.clalit-logo {
        width: 100px;
        margin: 0 5px 0 0;
    }

    .page404-main-wrapper .logo-wrapper{
        padding: 30px 0 30px 0;
    }

    .page404-main-wrapper img.main-img{
        max-width: 100%;
        padding: 0 0 15px 0;
        width: 150px;
        height: 300px;
    }

    .page404-main-wrapper .cta-items-wrapper {
        align-items: center;
        padding: 0 0 35px 0;
        flex-direction: column-reverse;
    }

    .page404-main-wrapper h1 {
        font-size: 32px;
        line-height: 100%;
        padding: 0 10px 0 10px;
    }

    .page404-main-wrapper h2 {
        font-size: 20px;
        line-height: 100%;
    }

    .page404-main-wrapper h3 {
        font-size : 20px;
    }

    .page404-main-wrapper .main-text-section {
        gap: 15px;
        padding: 10px 0 0 0;
    }

    .page404-main-wrapper .main-text-section:last-child {
        gap: 7px;
    }

    .page404-main-wrapper .logos-list li:first-child::after {
        top: 5px;
    }

}


@media only screen and (max-width: 767px) { 
    .page404-main-wrapper .cta-items-wrapper a {
        padding: 15px;
    }
}